<h1>
  {(tittle)}
<h1>

<br>
<!--aqui se introduce un boton que cuenta las veces que le damos click-->
 <button name="samplebtn" (click) = "incrementvalue()" >click me </button>

<br>

<!--aqui muestra las veces que fue tocado el boton-->
<h2>you clicked for {{incrementedvalue}} times </h2>

<br>

<!--aqui incluye un cuadro de texto donde te saluda :D-->
<input [(ngmodel)]="username">

<p>Hello {{username}}!</p>

<!--aqui mete una tabla de texto-->
<div class ="container">
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Cesar</th>
        <th>Bravo</th>
        <th>Cesar@example.com</th>
      </tr>
    </tbody>
    </table>
  </div>
</div>